.bio
  .bio-pic

  .bio-info
    %p
      Iris McLean grew up as a child in the heart of Washington D.C., until at the age of seven, when her family moved to Chapel Hill, North Carolina. At age eight, Iris was assigned a school project where the kids were to read a biography and then come to class in character as the person they had read about. Iris impressed her teacher by not breaking character for the entire day. That teacher not only gave Iris an A+, but told her as well that she should become an actress. Ever since that moment, Iris has performed everywhere she could. She began in children's musicals, and was invited to perform with a children’s choir at the Dean Dome during the Celine Dion 1998 "Lets Talk about Love" tour.
    %p
      Iris took her first improvisation class at the age of 12, where she was noticed for her skill at impressions and slapstick humor. At the age of 15, she traveled to New York City where she spent 6 weeks studying at the Stella Adler Studio of Acting. Iris, however, found her niche in acting for film when she traveled to Los Angeles at age 16 to spend three weeks at the New York Film Academy’s Hollywood school. At 17,  Iris was one of six teenagers to participate in the New York Film Academy’s six week advanced acting intensive. Iris then moved to Los Angeles when she was 18, studying with Patrick Day privately, at Young Actor’s Space for several months.
    %p
      As a result of those acting experiences, Iris came to a point where she aspired to understand the entire film making process. She then moved to San Francisco where she completed a Bachelor of Fine Arts in Motion Pictures and Television from the Academy of Art University. While attending AAU, Iris was accepted into the prestigious two-year program at the Meisner Technique Studio. She has now completed their two-year acting program, having studied with her mentors Melissa Thompson Esaia and Sandford Meisner’s last teaching protégé, Jim Jarrett.
    %p
      As an actor, Iris cares deeply for the entire film making process and the art of storytelling. She has been described by both teachers and directors as “deep”, “captivating”, and “magical.” Her goal as an actor is to reach audiences worldwide, and hopes that she can inspire and touch them emotionally.