.bio
  .bio-pic

  .bio-info
    %p
      Iris McLean as a child grew up in the heart of Washington D.C. until at the age of seven her family moved to Chapel Hill, North Carolina. At the age of eight one of Iris’s elementary school teachers assigned a project where the kids had to read a biography of someone, and than students were supposed to come to class in character as the person they read about. Iris impressed her teacher by not breaking character for the entire day, and that teacher not only gave Iris an A+ but as well as telling her that she should be an actress. Ever since that moment Iris has performed everywhere she could. She began performing in children musicals, and was invited to perform with a children’s choir at the Dean Dome during the Celion Dion 1998 ‘Lets Talk about Love’ tour.
    %p
      Iris took her first improvisation class at the age of 12. Where she was noticed for her skill at impressions, and slapstick humor. At the age of 15 Iris traveled to New York City where she spent eight weeks studying at the Stella Adler Studio of Acting. Iris however, found her niche when she traveled to Los Angeles at the age of 16 where she spent three weeks at the New York Film Academy’s Hollywood school. At 17 Iris was one of six other teenagers to participate in the New York Film Academy’s six week advanced acting intensive. Iris than moved to Los Angeles when she was 18, and studied with Patrick Day privately at Young Actor’s Space for several months.
    %p
      However, Iris came to a point where she thrived to understand the entire film making process. She than moved to San Francisco where she received a Bachelor of Fine Arts in Motion Picture and Television from the Academy of Art University. After completing her Bachelor of Fine Arts degree Iris was accepted into the prestigious two year program at the Meisner Technique Studio where she completed their two year acting program where she studied with her mentors and Sandford Meisner’s last teaching protégé Jim Jarrett and Melissa Thompson Esaia.
    %p
      Iris as an actor cares deeply for the entire film making process, and the art of story telling. She has been described by both teachers and directors she has worked with as “deep”, “captivating”, and “magical.” Her goal as an actor is to reach audiences world wide, and hope that she somehow can inspire or touch them emotionally.