.pics
  = link_to image_tag('headshotmain.jpg'), gallery_path(:headshot), :class => 'album-cover'

  = link_to image_tag('stillshotmain.jpg'), gallery_path(:still), :class => 'album-cover'

  = link_to image_tag('modelshotmain.jpg'), gallery_path(:model) ,:class => 'album-cover'