.gallery-container
  - if @videos.nil?
    No Images
  - else
    - @videos.each do |video|
      .photo-container.video
        = link_to image_tag(video.thumbnail(:thumb)), video.youtube_url, :class => 'fancybox-video',
          :'data-pjax-ignore' => 'true', :title => video.title, :rel => 'youtube_video'