// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
  border: 1px black solid;

  td, th {
    border: 1px black solid;

    img {
      max-height: 150px;
    }
  }

  tr {
    text-align: center;
  }
}