//Lavender Indigo (Hex: #9457EB) (RGB: 148, 87, 235)
/*
 *= require_self
 *= require fancybox
 *= require_tree
 */
@import 'compass/css3';
$lavender: #120A8F;

html {
  body {
    background-color: #FFFFFF;
  }
}

.container {
  width: 1000px;
  margin: 0px auto;
}

header {
  .title-area {
    margin-left: 30px;
    font-family: "Helvetica";
    color: $lavender;
    h1 {
      height: 20px;
    }

    h2 {
      padding-left: 40px;
    }
  }

  .main-links {
    @include border-radius(10px);
    background-color: $lavender;
    text-align: center;
    margin: 0 auto;
    line-height: 60px;

    a {
      display: inline-block;
      font-size: 30px;
      margin: auto 10px;
      color: white;
      text-decoration: none;
    }

    &.smaller {
      line-height: 30px;
      a {
        font-size: 20px !important;
      }
    }
  }

}

#content {
  margin: 20px 0px;

  .centered {
    display: block;
    margin: 0 auto;
  }
}

.clear {
  clear: both;
}

#front-pic {
  @include single-box-shadow(#333333, 10px, 10px, 5px, false, false);
}