//Lavender Indigo (Hex: #9457EB) (RGB: 148, 87, 235)
/*
*= require_self
*= require fancybox
*= require_tree
*/
@import 'compass/css3';

$lavender: #063273;
$backdrop-lavender: #567db0;
$font: "Palatino";
//#7E78DE;

.container {
  width: 1010px;
  padding: 0 5px;
  margin: 0px auto;
  padding-top: 15px;
  //@include background-image(linear-gradient(bottom, #E8E8E8 33%, #D9D9D9 67%, #A8A8A8 84%));
  @include background-image(linear-gradient(bottom, #FFFFFF 23%, #E6E6E6 52%, #C7C7C7 81%, #B0B0B0 91%));
}

header {
  .title-area {
    margin-left: 30px;
    font-family: $font;
    color: $lavender;
    h1 {
      height: 10px;
      line-height: 40px;
      font-size: 40px;
      margin-top: 10px;
    }

    h2 {
      padding-left: 40px;
    }
  }

  $background-gradient: linear-gradient(bottom, #063273 38%, #3A73C2 85%);
  ul.main-links {
    font-family: $font;
    //margin: 0 auto;
    line-height: 60px;
    //height: 60px;
    width: 1053px;
    margin-left: -22px;
    position: relative;
    display: table;
    padding-left: 0px;

    li {
      display: inline-block;
      display: table-cell;
      text-align: center;
      a {
        @include transition-duration(0.2s);
        @include background-image($background-gradient);
        //font-size: 30px;
        font-size: 20px;
        //padding: 0px 16px;
        color: white;
        text-decoration: none;
        //margin-top: 0px;
        border-right: 1px solid #535353;
        display: block;
      }

      a:hover, a.selected {
        @include background-image(linear-gradient(bottom, #07244D 38%, #2D5891 85%));
        @include box-shadow(inset 0 0 5px 5px #07244D);
      }
    }

    // For admin header
    &.smaller {
      line-height: 30px;
      margin-left: -22px;
      margin-top: -13px;
      width: 1053px;
      a {
        font-size: 20px !important;
      }
    }

    // For wrap around effect
    .triangle {
      position: absolute;
      border-style: solid;
      border-width: 16px;
      height: 0px;
      width: 0px;
      bottom: -15px;
      z-index: -1;

      &.left {
        border-color: transparent $backdrop-lavender transparent transparent;
        left: -14px;
      }

      &.right {
        border-color: transparent transparent transparent $backdrop-lavender;
        right: -16px;
      }
    }
  }

}

#content {
  margin: 20px 0px;

  .centered {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.clear {
  clear: both;
}

//
@media screen and (max-height: 650px) {
  #fancybox-content {
    margin-top: -140px !important;
  }
}

#front-pic {
  img {
    @include single-box-shadow(#333333, 10px, 10px, 5px, false, false);
    margin-bottom: 200px;
  }
  height: 400px;
}
