//Lavender Indigo (Hex: #9457EB) (RGB: 148, 87, 235)
/*
 *= require_self
 *= require fancybox
 *= require_tree
 */
@import 'compass/css3';
$lavender: #120A8F;
$backdrop-lavender: #6860DB;

html {
  body {
    background-color: #FFFFFF;
  }
}

.container {
  width: 1010px;
  padding: 0 5px;
  margin: 0px auto;
  border: 2px black solid;
  @include border-radius(10px);
}

header {
  .title-area {
    margin-left: 30px;
    font-family: "Helvetica";
    color: $lavender;
    h1 {
      height: 20px;
    }

    h2 {
      padding-left: 40px;
    }
  }

  .main-links {
    //@include border-radius(10px);
    background-color: $lavender;
    text-align: center;
    margin: 0 auto;
    line-height: 60px;
    width: 1050px;
    margin-left: -20px;
    position: relative;

    .triangle {
      position: absolute;
      border-style:solid;
      border-width:15px;
      height:0px;
      width:0px;
      bottom: -14px;
      z-index: -1;

      &.left {
        border-color: transparent $backdrop-lavender transparent transparent;
        left: -14px;
      }

      &.right {
        border-color: transparent transparent transparent $backdrop-lavender;
        right: -14px;
      }
    }

    a {
      display: inline-block;
      font-size: 30px;
      margin: auto 0px;
      padding: 0 10px;
      color: white;
      text-decoration: none;
      @include transition-duration(0.3s);
      @include border-radius;
      margin-top: 5px;
    }

    a:hover, a.selected {
      @include single-box-shadow(white, 0, 0, 20px, false, false);
    }

    &.smaller {
      line-height: 30px;
      a {
        font-size: 20px !important;
      }
    }
  }

}

#content {
  margin: 20px 0px;

  .centered {
    display: block;
    margin: 0 auto;
  }
}

.clear {
  clear: both;
}

#front-pic {
  @include single-box-shadow(#333333, 10px, 10px, 5px, false, false);
}