// Bio page
.bio {
  position: relative;

  .bio-pic {
    display: inline-block;
    width: 400px;
    margin-right: 20px;
  }

  .bio-info {
    position: absolute;
    display: inline-block;
    width: 550px;
    top: 0;
  }
}

// Photos page
.pics {
  display: inline-block;

  .album-cover:not(:last-child) {
    margin-right: 45px;
  }
}

// Gallery
.gallery-container {
  padding-top: 10px;

  .photo-container {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    vertical-align: middle;
    &:not(:nth-child(3n)) {
      margin-right: 35px;
    }
    img {
      position: absolute;
      display: block;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

}

// Resume
#resume-frame {
  width: 100%;
  height: 550px;
}