@import 'compass/css3';


$font: "Palatino";

// Bio page
.bio {
  position: relative;

  .bio-pic {
    $box-shadow-option: inset 0 0 100px #000;

    @include border-radius(10px);
    @include box-shadow($box-shadow-option, $box-shadow-option, $box-shadow-option);

    display: inline-block;
    width: 400px;
    margin-right: 20px;
    background: url("main2resized.jpg");
    height: 600px;
  }

  .bio-info {
    position: absolute;
    display: inline-block;
    width: 550px;
    top: 0;
  }
}
// Pblhotos page
.pics {
  display: inline-block;

  .gallery-holder {
    width: 300px;
    display: inline-block;

    .album-size {
      font-size: 15px;
      margin-top: 20px;
      font-weight: bold;
      text-align: center;
      font-family: $font;
    }

    &:first-child {
      margin-left: 5px;
    }

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  .album-cover {
    img {
      @include single-box-shadow(#333333, 10px, 10px, 5px, false, false);
      //padding: 10px;
      //background-color: white;

      &:last-of-type {
        //background: #f5f5f5;
        //@include border-image(linear-gradient(left , #F5F5F5 16%, #D6D6D6 58%));
      }
    }


  }
}

// Gallery
.gallery-container {
  padding-top: 10px;

  .photo-container {
    @include single-box-shadow(#333333, 10px, 10px, 5px, false, false);
    background-color: black;
    position: relative;
    border: 1px black solid;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    vertical-align: middle;
    &.video {
      height: 200px;
      img {
        width: 100%;
      }
    }

    &:not(:nth-child(3n)) {
      margin-right: 40px;
    }
    img {
      position: absolute;
      display: block;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

}

// Resume
#resume-frame {
  width: 100%;
  height: 550px;
}

// Blog
.blog-post {
  margin: 0px 30px;

  &:not(:last-child) {
    border-bottom: 2px black solid;
  }
  .blog-title {
    //text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin: 15px 0;
  }

  .blog-date {
    font-weight: bold;
    margin: 10px 0;
  }
}

