// Bio page
.bio {
  position:  relative;

  .bio-pic {
    display: inline-block;
    width: 400px;
    margin-right: 20px;
  }

  .bio-info {
    position:  absolute;
    display: inline-block;
    width: 550px;
    top: 0;
  }
}

// Photos page
.pics {
  display: inline-block;

  .album-cover:not(:last-child) {
    margin-right: 45px;
  }
}

// Gallery
.gallery-container {
  height: 500px;
  border: 2px black;
}